/*Styles the container for the header content*/
.header {
  display: flex;
  justify-content: space-between;

  height: 65px;
  width: auto;
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(103, 34, 128),
    rgba(240, 186, 80)
  );
  padding: 10px;
}
/*Makes the Trollface.png and title text sit togheter so the other text can be moved to the other side of the header easier*/
.header--title {
  display: flex;
}

/*Styles the Trollface.png*/
img {
  margin-left: 20px;
  margin-right: 20px;
}
